#window {
    margin: 0px;
    border: 2px solid #81A1C1;
    background-color: rgba(14, 15, 0, 0.8);
    border-radius: 18px;

}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    border-radius: 18px;
    background-color: rgba(14, 15, 0, 0.2);
}

/* #outer-box {
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #282a36;
    } */

#scroll {
    margin: 0px;
    border-radius: 15px;
    border: none;
}

#text {
    border-radius: 15px;
    margin: 5px;
    border: none;
    color: #f8f8f2;
}

/* #entry.activatable #text {
    color: #282a36;
    }
    
    #entry > * {
    color: #f8f8f2;
    } */

#entry:selected {
    border-radius: 15px;
    background-color: #81A1C1;
}

#entry:selected #text {
    color: #000000;
    border-radius: 15px;
}
