/* ==UserStyle==
@name           Invidious - Dark Theme
@namespace      https://github.com/Tsyron/Invidious-Theme
@version        1.1.0
@license        GPLv3
@description    Invidious Website In Dark Theme/Style
@author         Tsyron
@preprocessor   stylus

@var            select select-color "Colours" ["Colourful", "Light"]

@var            range range-corners "Corner Radius" [18, 0, 35, "px"]

@var            range range-searchbox "Searchbox Corner Radius" [18, 0, 18, "px"]

@var            checkbox checkbox-borders "Borders" 0

@var            select select-font "Font" ["YouTube", "Default", "Monospace"]

@var            range range-font "Font Size" [11, 8, 16, "pt"]

@var            range range-screen-width "Screen Width" [95, 48, 170, "em"]

@var            checkbox checkbox-shadow "Shadow" 1

@var            checkbox checkbox-theatre "Theatre Mode at Screen Width (experimental)" 0

==/UserStyle== */
@-moz-document url-prefix("https://invidious."),
url-prefix("https://inv."),
url-prefix("https://materialious."),
url-prefix("https://invidio."),
url-prefix("https://invidious-"),
url-prefix("https://iv."),
url-prefix("https://vid."),
url-prefix("https://y.com."),
url-prefix("https://yt"),
url-prefix("https://tube."),
domain("watch.thekitty.zone"),
domain("onion.tube"),
domain("not-ytb.blocus.ch"),
domain("yewtu.be"),
domain("youtube.076.ne.jp"),
domain("youtube.owacon.moe"),
domain("sea1.iv.ggtyler.dev"),
domain("am74vkcrjp2d5v36lcdqgsj2m6x36tbrkhsruoegwfcizzabnfgf5zyd.onion"),
domain("c7hqkpkpemu6e7emz5b4vyz7idjgdvgaaa3dyimmeojqbgpea3xqjoid.onion"),
domain("euxxcnhsynwmfidvhjf6uzptsmh4dipkmgdmcmxxuo7tunp3ad2jrwyd.onion"),
domain("grwp24hodrefzvjjuccrkw3mjq4tzhaaq32amf33dzpmuxe7ilepcmad.onion"),
domain("kbjggqkzv65ivcqj6bumvp337z6264huv5kpkwuv6gu5yjiskvan7fad.onion"),
domain("ng27owmagn5amdm7l5s3rsqxwscl5ynppnis5dqcasogkyxcfqn7psid.onion"),
domain("osbivz6guyeahrwp2lnwyjk2xos342h4ocsxyqrlaopqjuhwn2djiiyd.onion"),
domain("u2cvlit75owumwpy4dj2hsmvkq7nvrclkpht7xgyye2pyoxhpmclkrad.onion"),
domain("w6ijuptxiku4xpnnaetxvnkc5vqcdu7mgns2u77qefoixi63vbvnpnqd.onion"),
domain("invbp.pjsfkvpxlinjamtawaksbnnaqs2fc2mtvmozrzckxh7f3kis6yea25ad.onion"),
domain("invidiousge2cq2qegp4vdzsfu6mvpqdf6dtcyzmqbv7yx2spvkkajad.onion"),
domain("inv.vern.i2p"),
domain("pjsfhqamc7k6htnumrvn4cwqqdoggeepj7u5viyimgnxg3gar72q.b32.i2p"),
domain("pjsfi2szfkb4guqzmfmlyq4no46fayertjrwt4h2uughccrh2lvq.b32.i2p") {

    /* Darker Tints */
    bg-1=#232323
    bg-2=lighten(bg-1, 10%)
    bg-2-disabled=rgba(bg-2, 0.5)
    bg-3=lighten(bg-1, 25%)
    bg-4=lighten(bg-1, 40%)
    
    /* Lighter Tints */
    fg-1=#fff
    fg-2=darken(fg-1, 10%)
    fg-3=darken(fg-1, 20%)
    fg-4=darken(fg-1, 30%)
    
    /* Linked */
    link=fg-3
    link-h=fg-4

    red-1=#ff4343
    red-1-h=rgba(red-1, 0.9)
    red-1-watched=rgba(red-1, 0.4)
    red-2=#ff6969
    red-2-h=rgba(red-2, 0.9)
    red-3=#ff9898
    red-3-h=rgba(red-3, 0.9)
    
    light-1=fg-3
    light-1-h=fg-4
    light-1-watched=rgba(light-1, 0.4)
    light-2=fg-3
    light-2-h=fg-4
    light-3=fg-3
    light-3-h=fg-4
    
    /* Shadow */
    shadow=rgba(0, 0, 0, 0.3)

    :root {
        /* Colours */
        if select-color=="Colourful" {
            --Color1: red-1;
            --Color1Hover: red-1-h;
            --Color1Watched: red-1-watched;
            --Color2: red-2;
            --Color2Hover: red-2-h;
            --Color3: red-3;
            --Color3Hover: red-3-h; }

        if select-color=="Light" {
            --Color1: light-1;
            --Color1Hover: light-1-h;
            --Color1Watched: light-1-watched;
            --Color2: light-2;
            --Color2Hover: light-2-h;
            --Color3: light-3;
            --Color3Hover: light-3-h; }

        if select-font=="YouTube" {
            --Font: Roboto, Arial, sans-serif !important; }

        if select-font=="Default" {
            --Font: inherit; }

        if select-font=="Monospace" {
            --Font: monospace; } }

    .dark-theme,
    .no-theme,
    .light-theme {
        /* Main Theme : The Dark Theme */
        body,
        .pure-g,
        .pure-form legend {
            background: bg-1;
            color: fg-1; }

        /* Clickable Links */
        a:not(.navbar .index-link),
        a:active:not(.navbar .index-link),
        a:visited:not(.navbar .index-link),
        summary,
        a:not([data-id]) > .icon,
        a:link:not(.pure-button):not(.channel-owner) {
            color: link; }

        footer a {
            color: link !important; }

        a:hover,
        footer a:hover,
        summary:hover,
        a:not([data-id]) > .icon:hover {
            color: link-h !important; }

        /* Multiple option Select Box */
        .pure-form {
            input[type="color"],
            input[type="date"],
            input[type="datetime-local"],
            input[type="datetime"],
            input[type="email"],
            input[type="month"],
            input[type="number"],
            input[type="password"],
            input[type="tel"],
            input[type="text"],
            input[type="time"],
            input[type="url"],
            input[type="week"],
            select,
            textarea {
                box-shadow: transparent 0px 1px 3px inset;
                border: transparent;
                border-radius: range-corners;
                background-color: bg-2;
                color: fg-1; } }

        /* General Button */
        .pure-button-primary,
        .pure-button-secondary,
        .pure-button-primary:focus,
        .pure-button-secondary:focus {
            border: transparent;
            background-color: bg-2 !important;
            color: fg-1 !important; }

        .pure-button-primary:hover,
        .pure-button-secondary:hover {
            background-color: bg-3 !important;
            color: fg-1 !important; }

        /* Checkbox & Radio: Background color */
        input[type="checkbox"],
        input[type="checkbox"]:before,
        input[type="checkbox"]:checked:before,
        input[type='radio'],
        input[type='radio']:before,
        input[type='radio']:checked:before {
            color: fg-1; }

        input[disabled] {
            background-color: bg-2-disabled; }

        /* Checkbox & Radio: Color check */
        input[type="checkbox"]:checked,
        input[type='radio']:checked {
            background-color: bg-3 !important; }

        /* Range slider: Background */
        input[type='range'] {
            background-color: bg-2; }

        /* Home Screen: Clickable links colors */
        p,
        p.video-data:hover {
            color: fg-1; }

        /* Home Screen: Donate/Popular/Trending */
        a.feed-menu-item.pure-menu-heading {
            color: link; }

        /* Home Screen: Only Highlights YouTube Video's */
        a[href^="/watch?v="] p:not(.length):hover {
            color: fg-2; }

        /* Home Screen: Watched */
        .watched {
            background-color: bg-2;
            color: fg-1; }

        /* Home Screen: Length Time*/
        .length,
        p.length {
            color: fg-1;
            background-color: bg-2; }

        p.channel-name {
            color: link; }

        p.channel-name:hover {
            color: link-h; }

        /* Search: Filters */
        #filters-box {
            background: bg-1 !important; }

        /* Searchbox: background color */
        .pure-form input[type="search"] {
            border: transparent;
            background-color: bg-2;
            color: fg-1; }

        /* Video Player */
        .video-js {
            /* Video player: play button: color */
            .vjs-big-play-button .vjs-icon-placeholder {
                color: fg-1; }

            /* Video player: Controls: Color */
            .vjs-control-bar,
            .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
                background-color: bg-1;
                color: fg-1; }

            /* Button Hover */
            button:hover {
                color: fg-1; }

            /* Video player: Controls: Hovering Over Selected Option colors */
            .vjs-menu li.vjs-menu-item:focus,
            .vjs-menu li.vjs-menu-item:hover {
                background-color: var(--Color1Hover);
                color: fg-1; }

            /* Video player: Controls: The Selected option colors */
            .vjs-menu li.vjs-selected,
            .vjs-menu li.vjs-selected:focus,
            .vjs-menu li.vjs-selected:hover {
                background-color: var(--Color1);
                color: fg-1; }

            /* Video player: Share Links */
            .vjs-share__short-link,
            .vjs-share__btn,
            .vjs-share__short-link-wrapper {
                font-family: sans-serif;
                background-color: bg-2;
                color: fg-1; }

            .vjs-videojs-share_open .vjs-modal-dialog .vjs-close-button,
            .vjs-share__subtitle,
            .vjs-share__title {
                font-family: sans-serif;
                color: fg-1; }

            .vjs-videojs-share_open .vjs-modal-dialog .vjs-modal-dialog-content,
            .vjs-modal-dialog {
                background: bg-1; }

            .vjs-modal-dialog .vjs-modal-dialog-content,
            .vjs-modal-dialog,
            .vjs-modal-dialog-content {
                background: bg-1 !important; }

            /* Video player: Settings */
            .vjs-text-track-settings legend {
                color: fg-1; }

            /* Video Player: Text */
            .vjs-icon-placeholder,
            .vjs-icon-share {
                color: fg-1; }

            /* Video Player: Sliders */
            .vjs-play-progress,
            .vjs-volume-level {
                color: fg-1; }
            
            /* Video Player: Tooltip */
            .vjs-time-tooltip {
                font-family: sans-serif;
                border-radius: range-corners;
                top: -3.8em;
                background-color: bg-2;
                color: fg-1; }
            
            .vjs-vtt-thumbnail-display {
                bottom: 195%;
                border-radius: range-corners; } }

        /* Video player: Controls: Progress Bar: Color */
        .video-js.player-style-invidious .vjs-play-progress {
            background-color: var(--Color1); }

        /* Subscribe button */
        #subscribe,
        #subscribe:hover {
            color: bg-1 !important; }

        /* Comment Section: OC Channel: Comment */
        body a.channel-owner,
        body a.channel-owner:hover,
        .channel-owner:visited,
        .channel-owner .icon.ion.ion-md-checkmark-circle {
            color: bg-1 !important; }

        if select-color=="Colourful" {
            #subscribe,
            #subscribe:hover {
                color: fg-1 !important; }

            body a.channel-owner,
            body a.channel-owner:hover,
            .channel-owner:visited,
            .channel-owner .icon.ion.ion-md-checkmark-circle {
                color: fg-1 !important; } }

        /* Description: Download Button */
        input,
        select,
        textarea {
            background-color: bg-2;
            color: fg-1; }

        /* Scrollbar */
        ::-webkit-scrollbar,
        ::-webkit-scrollbar {
            background-color: bg-2; }

        ::-webkit-scrollbar-thumb,
        ::-webkit-scrollbar-thumb {
            background-color: bg-3; }

        /* Selection of text color */
        ::selection,
        ::selection {
            background-color: fg-1 !important;
            color: bg-3 !important; }

        /* White Line (Spacer/padding) */
        hr,
        .pure-form legend,
        .pure-form-aligned legend,
        .underlined {
            border-color: bg-2; }

        /* Settings: Volume Text */
        span#volume-value {
            color: fg-1; }

        /* Placeholder */
        ::placeholder {
            color: fg-1; }

        if checkbox-borders {
            .pure-form {
                input[type="color"],
                input[type="date"],
                input[type="datetime-local"],
                input[type="datetime"],
                input[type="email"],
                input[type="month"],
                input[type="number"],
                input[type="password"],
                input[type="tel"],
                input[type="text"],
                input[type="time"],
                input[type="url"],
                input[type="week"],
                input[type="search"],
                select,
                textarea {
                    border: 1px solid bg-3 !important; } }

            input[type='range']::-webkit-slider-thumb {
                border-right: 1px solid bg-3 !important; }

            input[type="checkbox"],
            input[type='radio'],
            input[type='range'] {
                border: 1px solid bg-3 !important; }

            .pure-button-primary,
            .pure-button-primary:focus,
            .pure-button-primary:hover,
            .pure-button-secondary,
            .pure-button-secondary:focus,
            .pure-button-secondary:hover {
                border: 1px solid bg-3 !important; }

            #subscribe,
            #subscribe:hover,
            a.channel-owner,
            a.channel-owner:hover {
                border: 1px solid var(--Color2) !important; } } }

    /* General Button */
    .pure-button-primary,
    .pure-button-secondary {
        padding: .5em 1em;
        margin: 0px;
        border-radius: range-corners !important; }

    /* Checkbox & Radio */
    input[type="checkbox"],
    input[type='radio'] {
        border-radius: 6px;
        height: 1.3em;
        width: 1.3em;
        cursor: pointer;
        position: relative;
        vertical-align: middle;
        -webkit-appearance: none;
        -webkit-transition: .10s; }

    /* Checkbox & Radio: Icons */
    input[type='radio'] {
        border-radius: 50%; }

    input[type="checkbox"]:checked:before {
        content: '✔'; }

    /* Color checkbox and radio button */
    input[type="checkbox"]:before,
    input[type="checkbox"]:checked:before,
    input[type='radio']:before,
    input[type='radio']:checked:before {
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 1.3em;
        text-align: center; }

    /* Checkbox: Autoplay */
    .pure-u-lg-1-5 #continue {
        margin-left: 3px; }

    /* Range slider: Slider and Round */
    input[type='range']::-webkit-slider-thumb {
        width: 15px;
        border-radius: 15px;
        -webkit-appearance: none;
        height: 15px;
        background: bg-3;
        box-shadow: -80px 0 0 75px bg-3; }

    /* Range slider: Padding */
    input[type='range'] {
        cursor: pointer;
        overflow: hidden;
        -webkit-appearance: none;
        border-radius: 1em; }

    input[type='range']::-webkit-slider-runnable-track {
        height: 15px;
        -webkit-appearance: none; }

    /* Screen Width */
    @media screen and (min-width: 48em) {
        .pure-u-md-1-6,
        .pure-u-md-1-12,
        .pure-u-md-4-24,
        .pure-u-md-20-24,
        .pure-u-md-12-24 {
            width: 0% !important; } }

    .pure-u-1.pure-u-md-2-24 {
        width: 0%; }

    #comments {
        max-width: 100%; }

    /* Font */
    html,
    body,
    .pure-g [class*="pure-u"] {
        font-family: var(--Font);
        font-size: range-font; }

    /* Home Screen: Thumbnail */
    img,
    div.watched-overlay {
        border-radius: range-corners; }

    div.watched-indicator {
        border-radius: 0 0 range-corners range-corners; }

    div.watched-overlay {
        background-color: var(--Color1Watched); }

    div.watched-indicator {
        background-color: var(--Color1); }

    /* Home Screen: Searchbox */
    #searchbox {
        border: transparent; }

    /* Home Screen: Watched */
    .watched {
        border-radius: range-corners; }

    /* Home Screen: Length Time*/
    .length,
    p.length {
        padding: 5px 8px 5px 8px;
        right: 0.40em;
        bottom: -0.60em;
        font-size: range-font;
        border-radius: range-corners; }

    .dark-theme,
    .no-theme,
    .light-theme {
        /* Home Screen: Invidious icon / Log in */
        .navbar .index-link,
        .pure-menu-heading {
            color: var(--Color1); }

        .navbar .index-link:hover {
            color: var(--Color1Hover) !important; }

        /* Home Screen: Little icons beside video */
        i.icon.ion-md-headset {
            color: var(--Color2) !important; }

        i.icon.ion-md-headset:hover {
            color: var(--Color2Hover) !important; }

        i.icon.ion-logo-youtube {
            color: var(--Color1) !important; }

        i.icon.ion-logo-youtube:hover {
            color: var(--Color1Hover) !important; }

        i.icon.ion-md-jet {
            color: var(--Color3) !important; }

        i.icon.ion-md-jet:hover {
            color: var(--Color3Hover) !important; } }

    /* Home Screen: filters */
    #filters-apply {
        text-align: right; }

    /* Searchbox */
    .pure-form input[type="search"] {
        box-shadow: transparent;
        border-radius: range-searchbox;
        margin: 0px; }

    /* Zooming */
    .pure-g:not(.h-box) > .pure-u-md-1-4 .h-box,
    .pure-g:not(.searchbar) > .searchbar,
    .pure-form-aligned {
        border-radius: range-corners;
        padding: 12px;
        transition: all 0.2s; }

    .pure-g:not(.h-box) > .pure-u-md-1-4 .h-box:hover {
        transform: scale(1.025);
        transition: all 0.2s;
        opacity: 1;
        z-index: 99999; }

    .video-js {
        /* Video player: play button: Border */
        .vjs-big-play-button {
            border-radius: range-corners;
            background-color: var(--Color1) !important;
            border: 0em solid transparent;
            font-size: 4.5em;
            top: 50%;
            left: 50%;
            margin-top: -0.81666em;
            margin-left: -1.5em; }

        /* Volume Slider */
        .vjs-volume-level {
            border-radius: range-corners;
            background-color: var(--Color1) !important; }

        /* Video player: Controls: Floating */
        .vjs-control-bar,
        .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
            font-family: sans-serif;
            opacity: 1;
            border-radius: range-corners range-corners 0 0;
            left: 0.5%;
            right: 0.5%;
            width: 99%;
            margin-bottom: 0.5%; }

        .vjs-control-bar {
            border-radius: range-corners; }

        /* Video player: Share Links */
        .vjs-videojs-share_open .vjs-modal-dialog .vjs-modal-dialog-content,
        .vjs-modal-dialog {
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;
            border-radius: range-corners; }

        .vjs-share__social_fbFeed,
        .vjs-share__social_tw,
        .vjs-share__social_reddit,
        .vjs-share__social_mail,
        .vjs-share__social_email,
        .vjs-share__short-link,
        .vjs-share__btn,
        .vjs-share__short-link-wrapper {
            border-radius: range-corners; }

        .vjs-share__social_fbFeed {
            background-color: var(--Color1); }

        .vjs-share__social_tw {
            background-color: var(--Color3); }

        .vjs-share__social_reddit {
            background-color: var(--Color2); }

        .vjs-share__social_mail,
        .vjs-share__social_email {
            background-color: var(--Color1); }

        /* Video player: Settings */
        .vjs-videojs-share_open .vjs-modal-dialog .vjs-close-button::before {
            display: none; } }

    /* Video player: Size */
    .pure-u-md-20-24 {
        width: 94% !important;
        max-width: range-screen-width !important;
        margin: auto; }

    /* Video player: Remove black borders */
    .player-dimensions.vjs-fluid {
        padding-top: 56.25% !important; }

    #player-container {
        transition: all 0.2s;
        padding-bottom: 54.7% !important; }

    @media screen and (max-width: 48em) {
        #player-container {
            padding-bottom: 47% !important;
            margin-bottom: 8%; } }

    if checkbox-theatre {
        @media screen and (max-width: range-screen-width) {
            #player-container {
                margin-bottom: 6%;
                margin-left: -3.2%;
                margin-right: -3.2%; } }

        @media screen and (max-width: 767px) {
            #player-container {
                margin-bottom: 15%; } } }

    /* Description: Padding and Form */
    .pure-g:not(.h-box) > .pure-u-md-1-4 .h-box {
        margin: 5px; }

    @media screen and (min-width: 64em) {
        .pure-u-lg-3-5 .title {
            margin: 0px; } }

    /* Description: Title */
    @media screen and (max-width: 767px) {
        h1 {
            margin: .67em 0; } }

    /* Description: Subscribe button */
    #subscribe {
        border-radius: range-corners;
        background-color: var(--Color1) !important;
        float: right;
        padding: 7.5px;
        /*margin-top: -55px;*/ }

    #subscribe:hover {
        background-color: var(--Color1Hover) !important; }

    /* Description: Download Multiple Section Bold */
    select#download_widget {
        font-weight: bold;
        max-width: 350px !important;
        margin-top: 10px; }

    .pure-form-stacked .pure-button-primary {
        margin-top: 5px; }

    /* Description: Download Button */
    input,
    select,
    textarea {
        font-family: sans-serif;
        border: 0px;
        border-radius: range-corners; }

    /* Description: Channel Image */
    .channel-profile > img {
        width: 36px !important;
        margin-right: 6px;
        height: auto; }

    .pure-u-md-2-24 > img {
        width: 36px !important;
        height: auto; }

    .pure-u-md-2-24 {
        max-width: 46px; }

    /* Scrollbar */
    ::-webkit-scrollbar {
        width: 15px; }

    /* Comment Section: Heart icon */
    .icon.ion-ios-heart.creator-heart-small-container {
        color: var(--Color1); }

    /* Comment Section: OC Channel: Comment */
    body a.channel-owner {
        background-color: var(--Color1);
        padding: 4px 8px;
        border-radius: range-corners; }

    body a.channel-owner:hover {
        background-color: var(--Color1Hover); }

    /* Banner on Channel */
    .pure-u-md-20-24 > .h-box > img {
        border-radius: range-corners;
        margin: 5px;
        opacity: 1;
        transition: all 0.2s; }

    /* Channel, Trending UI Links */
    .pure-g .pure-u-1 .pure-md-1-3 {
        margin-bottom: 0.5em; }

    /* White Line (Spacer/padding) */
    hr {
        margin: 1.3em 0; }

    .pure-form legend {
        text-align: center;
        margin-bottom: 1.3em;
        padding: 1.3em; }

    /* Settings */
    .pure-form-aligned .pure-control-group label,
    .pure-form-aligned .pure-control-group a,
    .pure-form-aligned .pure-control-group input {
        text-align: left !important;
        margin: 6px; }

    .pure-form-aligned .pure-control-group select {
        margin: 0px 0px 0px 6px }

    .pure-form-aligned .pure-controls {
        margin: 0px;
        text-align: right; }

    #max_results {
        width: 209.783px; }

    @media screen and (max-width: 1280px) {
        .pure-form-aligned .pure-control-group label,
        .pure-form-aligned .pure-control-group a,
        .pure-form-aligned .pure-controls {
            padding: 0px; } }

    /* Shadow */
    if checkbox-shadow {
        .pure-g:not(.h-box) > .pure-u-md-1-4 .h-box:hover {
            box-shadow: 0px 1px 20px shadow; }

        #player-container {
            box-shadow: 0px 10px 17px shadow; }

        .pure-u-md-20-24 > .h-box > img {
            box-shadow: 0px 1px 13px shadow; } } }

@-moz-document domain("redirect.invidious.io") {

    @media (prefers-color-scheme: light) {
        :root {
            --bg-primary: bg-1;
            --bg-secondary: bg-2;
            --bg-tertiary: bg-2;
            --fg-primary: fg-1;
            --fg-link: link;
            --fg-linkHover: link-h;
            --edge-table: transparent; }

        ::selection,
        ::selection {
            background-color: fg-1;
            color: bg-1; }

        .logo {
            filter: invert(100) } }

    @media (prefers-color-scheme: dark) {
        :root {
            --bg-primary: bg-1;
            --bg-secondary: bg-2;
            --bg-tertiary: bg-2;
            --fg-primary: fg-1;
            --fg-link: link;
            --fg-linkHover: link-h;
            --edge-table: transparent; }

        ::selection,
        ::selection {
            background-color: fg-1;
            color: bg-1; } }

    :root {
        if select-color=="Colourful" {
            --fg-header: red-1;
            --fg-dim: red-2; }

        if select-color=="Light" {
            --fg-header: light-1;
            --fg-dim: light-2; } }

    /* Hovering over links */
    a:hover {
        color: var(--fg-linkHover); }

    .script-warning {
        border: transparent;
        background: var(--fg-dim);
        color: var(--fg-primary); }

    /* Font */
    html,
    body,
    .pure-g [class*="pure-u"] {
        font-family: Roboto, Arial, sans-serif !important; } }
